
*.xcuserstate
*.xcuserstate
Lab1/Lab1/Lab1.xcodeproj/project.xcworkspace/xcuserdata/sciencethebird.xcuserdatad/UserInterfaceState.xcuserstate
Lab1/.DS_Store
.DS_Store
*.xcuserstate
Lab1/Lab1/Lab1.xcodeproj/project.xcworkspace/xcuserdata/sciencethebird.xcuserdatad/UserInterfaceState.xcuserstate
*.xcworkspace
*.pbxproj
*.plist

*.xcbkptlist
Lab4/Stack Function Test/Stack Function Test/lab4_student/lab4_student/input
Lab4/Stack Function Test/Stack Function Test/lab4_student/lab4_student/output
